.material-button {
  background-color: var(--color-main);
  color: var(--color-main-text);
  font-weight: 600;
  transition: transform 0.25s ease, background-color 0.3s ease;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
}

.material-button > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-button:active {
  transform: scale(0.95);
}

.file-item {
  width: 150px;
  background-color: var(--color-secondary);
}

.file-item-selected {
  background-color: #6495ED;
}

.cut-element {
  background: #FF4422EE;
}
