.app-name {
  color: var(--text-color);
  font-family: inherit;
  width: fit-content;
  width: -moz-max-content;
  font-size: 36px;
  font-weight: 500;
  background-color: var(--color-main);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #909090;
}

.header-column {
  background: var(--header-background);
  border-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media all and (max-width: 200px) {
  .app-name {
    font-size: 14vw;
  }
}
