.login-title {
  font-weight: 600;
}

.login-dialog {
  margin: auto;
  margin-top: 10%;
  width: fit-content;
  width: -moz-max-content;
  background-color: var(--header-background);
  border-radius: 15px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 10px 0.5px var(--color-main-shadow);
}

.login-container {
  padding: 0px;
}

@media all and (max-width: 800px) {
  .login-dialog {
    width: auto;
    padding-bottom: 0px;
    margin: 10px;
    margin-top: 20%;
  }
}

@media all and (max-width: 200px) {
  .login-dialog {
    width: 100%;
  }
}
