.modal-title {
  color: var(--color-main-text);
  overflow-wrap: anywhere;
}

.modal-content {
   background-color: var(--color-secondary);
}

.modal-content  {
  border-radius: 10px;
}

.btn-close  {
  filter: invert(var(--white-black-icon-invert));
}
