:root {
  --color-main: white;
  --color-main-text: black;
  --color-main-shadow: gray;
  --header-background: rgb(208, 208, 208);
}

.modal-title {
  color: var(--color-main-text)
}

.modal-content {
   background-color: var(--color-main);
}

body {
  background: var(--color-main);
  color: var(--color-main-text);
}

.app-name {
  color: gray;
  font-family: inherit;
  max-width: min-content;
  font-size: 36px;
  font-weight: 600;
  background-color: var(--color-main);
  border-radius: 30px;
  padding: 10px;
}

.max-width {
  max-width: 100%;
}

.wrap-content {
  max-width: min-content;
}

.header-column {
  background: var(--header-background);
  border-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

@media all and (max-width: 800px) {
  .header-column {
    padding: 10px;
  }
}

.material-button {
  background-color: var(--color-main);
  color: var(--color-main-text);
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0px 0px 10px 0.5px var(--color-main-shadow);
  padding: 10px;
  white-space: nowrap;
  font-weight: 600;
  transition: box-shadow 0.3s ease, transform 0.25s ease, background-color 0.3s ease;
  margin: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.material-button:hover {
    box-shadow: 0px 0px 15px 2px var(--color-main-shadow);
}

.material-button:active {
  transform: scale(0.95);
}

.file-item {
  width: 150px;
  border-radius: 15px;
}

.file-item-selected {
  background-color: cornflowerblue;
}

.file-item-container {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

@media all and (max-width: 800px) {
  .file-item-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.modal-content  {
  border-radius: 15px;
}

input[type=text] {
  width: 100%;
}

.unclickable {
    pointer-events: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.rounded-status-text {
  color: var(--color-main-text);
  font-family: inherit;
  font-size: 16px;
  background-color: var(--color-main);
  border-radius: 30px;
  padding: 10px;
  margin-top: 8px;
  overflow-wrap: break-word;
}

.login-title {
  font-weight: 600;
}

.login-dialog {
  margin: auto;
  margin-top: 150px;
  width: fit-content;
  background-color: var(--header-background);
  border-radius: 15px;
  text-align: center;
  padding: 25px;
}

.login-container {
  padding: 25px;
}

.align-end {
  margin-left: auto;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
  border-radius: 34px
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: cornflowerblue;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.padding-10 {
  padding: 10px;
}
