.app-name {
  color: gray;
  font-family: inherit;
  max-width: min-content;
  font-size: 36px;
  font-weight: 600;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.max-width {
  max-width: 100%;
}

.wrap-content {
  max-width: min-content;
}

.header-column {
  background: rgb(208,208,208);
  border-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 10px;
  padding: 10px;
  padding-right: 10px;
}

.material-button {
  background-color: white;
  color: #333333;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0px 0px 10px 0.5px gray;
  padding: 10px;
  white-space: nowrap;
  font-weight: 600;
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.material-button:hover {
    box-shadow: 0px 0px 15px 2px gray;
    color: black;
}

.file-item {
  width: 150px;
  border-radius: 15px;
}

.file-item-selected {
  background-color: cornflowerblue;
}

.file-item-container {
  text-align: center;
}

.modal-content  {
  border-radius: 15px;
}

input[type=text] {
  width: 100%;
}

.unclickable {
    pointer-events: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.rounded-status-text {
  color: black;
  font-family: inherit;
  font-size: 16px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  margin-top: 8px;
  overflow-wrap: break-word;
}

.login-title {
  color: white;
  font-weight: 600;
}

.login-dialog {
  margin: auto;
  margin-top: 150px;
  width: min-content;
  background-color: gray;
  border-radius: 15px;
  text-align: center;
  padding: 25px;
}

.align-end {
  margin-left: auto;
}
