#!/bin/bash

# CLOUDDRIVE_PORT -> the port where the client and the server will listen
# CLOUDDRIVE_STORAGE -> the directory to use as storage

export CLOUDDRIVE_PORT=3333
export CLOUDDRIVE_STORAGE=/storage/

cd server && node server.js
